<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.bsdmasterindex.show-hide-iframe"
        version     = "1.0.0"
        versionCode = "100" > <!-- versionCode is optional and Android only -->
        <!-- Tool Set Version -->        
        <preference name='phonegap-version' value='cli-5.2.0' />

        <name>Sql Debug Kathriona</name>
        <description>Debug mystery SQLite issue</description>
        <author href="http://bsdmasterindex.com" email="jessemonroy650@yahoo.com">
        Docblamblock
        </author>

        <!-- App requested permission -->
        <preference name="permissions" value="none"/>
        
       
        <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
        <preference name="SplashScreen" value="splash" />
        <preference name="SplashScreenDelay" value="5000" />
        <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
        <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
        <!--
            Define a specific version of PhoneGap to build into your app.
            <preference name="phonegap-version"       value="3.5.0" />
        -->


        <!-- ANDROID * ANDROID * ANDROID -->
        <platform name="android" >            
        <splash src="ldpi.png" platform="android" qualifier="ldpi" />
        </platform>
       

        <!-- PLUGINS * PLUGINS * PLUGINS -->
        <!-- Core plugins -->
 
 
    <plugin name="cordova-sqlite-storage" />  
    

            
    
    
     
   


    <!-- Third party plugins -->
    <!-- A list of available plugins are available at https://build.phonegap.com/plugins -->
    <!--
        <plugin name="com.phonegap.plugins.barcodescanner" />
    -->

    <!-- Define app icon for each platform. -->
    
       
        
        
        <!-- WHITELIST * WHITELIST * WHITELIST -->
        <!-- https://github.com/jessemonroy650/top-phonegap-mistakes/blob/master/the-whitelist-system.md -->
        
        <!-- <allow-intent href="*" /> -->
        

    <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
    <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
    
        
        
    </widget>
